@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: var(--Fundo);
    color: var(--Texto);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    width: calc(100%-50px);
    animation: color ease-in-out;
    animation-timeline: scroll();
    overflow-x: hidden;
}
a{
    color: var(--Texto);
}
header h1, header h3{
    margin: 0;
    padding: 0;
}
header, #projetos, #exps{
    height: calc(100vh - 60px);
    padding: 30px;
    animation: fade ease-in-out;
    animation-timeline: view();
    display: flex;
    align-items: center;
    justify-content: space-around;
}
img{
    border: solid 10px black;
    border-radius: 30px;
    width: 80%;
}
button{
    background-color: var(--Botoes);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: var(--TextoOposto);
}
#mod{
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none !important;
}
::placeholder{
    color: var(--PlaceHolder);
}
@keyframes color{
    0%{
        background-color: var(--Primaria);
    }
    50%{
        background-color: var(--Fundo);
    }
    100%{
        background-color: var(--FundoSecundario);
    }
}
@keyframes fade{
    0%{
        opacity: 0;
        translate: -100vw;
    }
    30%{
        opacity: 0;
    }
    45%{
        opacity: 1;
        translate: 0;
    }
    60%{
        opacity: 1;
        translate: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        translate: 100vw;
    }
}
::-webkit-scrollbar{
    display: none;
}
#scrollbar{
    position: fixed;
    width: 10px;
    height: 50px;
    right: 0;
    border-radius: 5px;
    background-color: var(--Texto);
    opacity: 0.5;
    animation: scrollb ease-in-out;
    animation-timeline: scroll();
}
@keyframes scrollb{
    0%{
        top: 0;
    }
    100%{
        top: calc(100vh - 50px);
    }
}
.dark, .light{
    transition: 0.2s;
}
.nuvem{
    transition: 0.1s;
}