.img{
    width: 400px;
    max-width: 50vh;
    border-radius: 30px;
    border: 5px solid var(--Texto);
}

@media screen and (max-width: 900px) {
    .img{
        width: 40vh;
        min-width: 200px;
    }
}